<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="tests" type="auat.framework.Configuration.TestConfiguration, auat.framework"/>
  </configSections>
  
  <tests browser="OpenQA.Selenium.PhantomJS.PhantomJSDriver, WebDriver">
  <!--<tests browser="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver">-->
    <page type="sample.tests.CalculatorPage, sample.tests" url="http://localhost:32150/calculator.html">
      <element name="1" by="Value" value="1" />
      <element name="2" by="Value" value="2" />
      <element name="3" by="Value" value="3" />
      <element name="4" by="Value" value="4" />
      <element name="5" by="Value" value="5" />
      <element name="6" by="Value" value="6" />
      <element name="7" by="Value" value="7" />
      <element name="8" by="Value" value="8" />
      <element name="9" by="Value" value="9" />
      <element name="0" by="Value" value="0" />
      <element name="+" by="Value" value="+" />
      <element name="-" by="Value" value="-" />
      <element name="x" by="Value" value="x" />
      <element name="/" by="Value" value="/" />
      <element name="." by="Value" value="," />
      <element name="=" by="Value" value="=" />
      <element name="Back" by="Value" value="&#8592;" />
      <element name="Result" by="Id" value="calc_result" />
      <element name="CE" by="Value" value="CE" />
    </page>
  </tests>
  
</configuration>